# 구별 나이대별 인구 비율을 게산하여 csv로 저장하는 코드

In [25]:
import pandas as pd
import seaborn as sns

pop_raw = pd.read_csv('data\\LOCAL_PEOPLE_GU_2023\\LOCAL_PEOPLE_GU_2023.csv', encoding='euc-kr')

In [26]:
pop_raw.head()

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20230101,0,11110,211983.7554,5256.3035,2985.2135,5585.3388,10029.3603,10311.7458,8131.2590,...,9989.7436,7420.0172,7877.9124,7403.7900,8433.4562,7401.3378,7984.9511,6476.2241,5176.6241,14109.9869
1,20230101,0,11140,161323.9236,5093.4474,1916.9721,2969.1968,6355.1874,7354.2686,6991.7530,...,8413.7271,6993.0188,7613.7788,5851.6730,5895.7675,5054.8313,5262.5790,4762.5191,3330.8358,9806.8907
2,20230101,0,11170,254936.4270,7214.2899,3557.2729,5090.9204,8721.3070,11030.7512,12265.7970,...,11856.9406,11857.7227,13386.7419,10292.2066,10609.6364,9299.7363,8951.3212,7662.5905,5762.7546,15375.7578
3,20230101,0,11200,303352.3618,10735.8404,4511.9900,6409.0787,9987.8283,12091.6443,11337.1432,...,12123.5732,12338.8198,15555.4774,12236.0617,12272.9808,11141.5024,11594.7859,9793.4866,7480.2283,19484.7348
4,20230101,0,11215,359375.3891,10808.4535,5769.8457,10861.3001,15557.6316,16801.7747,14391.7039,...,17918.7066,14837.4148,15334.9660,13328.4735,14172.6260,12648.3202,13913.7108,11250.0675,8604.0436,19799.9595

In [27]:
pop_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219000 entries, 0 to 218999
Data columns (total 32 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준일ID            219000 non-null  int64
 1   시간대구분            219000 non-null  int64
 2   자치구코드            219000 non-null  int64
 3   총생활인구수           219000 non-null  float64
 4   남자0세부터9세생활인구수    219000 non-null  float64
 5   남자10세부터14세생활인구수  219000 non-null  float64
 6   남자15세부터19세생활인구수  219000 non-null  float64
 7   남자20세부터24세생활인구수  219000 non-null  float64
 8   남자25세부터29세생활인구수  219000 non-null  float64
 9   남자30세부터34세생활인구수  219000 non-null  float64
 10  남자35세부터39세생활인구수  219000 non-null  float64
 11  남자40세부터44세생활인구수  219000 non-null  float64
 12  남자45세부터49세생활인구수  219000 non-null  float64
 13  남자50세부터54세생활인구수  219000 non-null  float64
 14  남자55세부터59세생활인구수  219000 non-null  float64
 15  남자60세부터64세생활인구수  219000 non-null  float64
 16  남자65세부터69세생활인구수  219000 non-null  float64
 17  남자70세이상생활인구수     219000 non-null  float64
 18  여자0세부터9세생활인구수    219000 non-null  float64
 19  여자10세부터14세생활인구수  219000 non-null  float64
 20  여자15세부터19세생활인구수  219000 non-null  float64
 21  여자20세부터24세생활인구수  219000 non-null  float64
 22  여자25세부터29세생활인구수  219000 non-null  float64
 23  여자30세부터34세생활인구수  219000 non-null  float64
 24  여자35세부터39세생활인구수  219000 non-null  float64
 25  여자40세부터44세생활인구수  219000 non-null  float64
 26  여자45세부터49세생활인구수  219000 non-null  float64
 27  여자50세부터54세생활인구수  219000 non-null  float64
 28  여자55세부터59세생활인구수  219000 non-null  float64
 29  여자60세부터64세생활인구수  219000 non-null  float64
 30  여자65세부터69세생활인구수  219000 non-null  float64
 31  여자70세이상생활인구수     219000 non-null  float64
dtypes: float64(29), int64(3)
memory usage: 53.5 MB

In [28]:
pop_filtered = pop_raw[(pop_raw['기준일ID'] == 20231231) & (pop_raw['시간대구분'] == 0)]

In [29]:
pop_data = pop_filtered[['자치구코드','총생활인구수']]

In [30]:
# 나이대별 인구 분류
# 미성년자: 0~19, 청년: 20~39, 중년: 40~59, 장년: 60~79, 고령: 80~

age_group_cols = {
    '미성년자': ['남자0세부터9세생활인구수', '남자10세부터14세생활인구수', '남자15세부터19세생활인구수',
                '여자0세부터9세생활인구수', '여자10세부터14세생활인구수', '여자15세부터19세생활인구수'],
    '청년': ['남자20세부터24세생활인구수', '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수',
            '여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수'],
    '중년': ['남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
            '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수', '여자55세부터59세생활인구수'],
    '장년': ['남자60세부터64세생활인구수', '남자65세부터69세생활인구수',
            '여자60세부터64세생활인구수', '여자65세부터69세생활인구수'],
    '고령': ['남자70세이상생활인구수', '여자70세이상생활인구수']
}

# 각 나이대별 인구 합계 계산
for age_group, cols in age_group_cols.items():
    pop_data[age_group] = pop_filtered[cols].sum(axis=1)

# 자치구코드와 나이대별 인구만 남기기
pop_data = pop_data[['자치구코드', '미성년자', '청년', '중년', '장년', '고령']].copy()

pop_data

C:\Users\User\AppData\Local\Temp\ipykernel_1352\1782019322.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_data[age_group] = pop_filtered[cols].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_1352\1782019322.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_data[age_group] = pop_filtered[cols].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_1352\1782019322.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_data[age_group] = pop_filtered[cols].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_1352\1782019322.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_data[age_group] = pop_filtered[cols].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_1352\1782019322.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_data[age_group] = pop_filtered[cols].sum(axis=1)

        자치구코드         미성년자           청년           중년          장년          고령
218400  11110   24499.4588   65108.7982   61420.7993  21453.8992  21811.2349
218401  11140   16386.7587   51841.8718   46039.7337  15545.1731  15765.7338
218402  11170   30742.7752   88888.1896   77146.8149  24393.3351  24278.1930
218403  11200   42061.8726  102295.4631   96672.9046  32158.8702  30097.5075
218404  11215   51548.7808  126643.8516  106605.5792  36398.9703  33265.2489
218405  11230   44421.0513  111386.4934   97925.4313  35500.8154  37825.6406
218406  11260   51426.5218  107166.0334  118424.2559  46987.5924  45019.5565
218407  11290   71296.1019  122900.8413  132513.6983  44445.3656  48849.9348
218408  11305   40970.7729   81892.1245   94444.1723  37432.8430  42198.7848
218409  11320   41886.3651   70157.0308   87784.7270  37884.2550  38707.5669
218410  11350   88477.8026  131881.8676  162493.2350  59966.5887  61826.7828
218411  11380   70010.5111  129387.2930  148671.0892  53040.4684  55163.7591
218412  11410   45677.6729  111334.6629  100606.5180  33839.1194  36534.4703
218413  11440   55619.4760  157918.7490  122377.4531  34002.2425  35247.0473
218414  11470   77892.4988   91924.9818  126002.8795  40784.6584  41323.2842
218415  11500   84668.0649  167841.6894  161019.8337  56460.5564  59563.3851
218416  11530   57842.3494  111099.0254  124615.0377  44825.7661  42873.8423
218417  11545   22559.3217   64430.4487   63456.4910  23292.8748  20076.0464
218418  11560   52256.7546  136152.9254  129329.1838  42948.9170  39104.9187
218419  11590   54998.4275  123958.1895  111806.0803  38965.1410  41379.6427
218420  11620   51561.6251  192867.9243  132036.3852  45023.8906  47777.5334
218421  11650   88290.0229  120820.5783  149574.4042  39522.5519  42110.7347
218422  11680  125622.6707  183552.5730  212355.5107  52290.4640  56586.0925
218423  11710  128675.7894  203669.4184  226762.9310  75342.6706  70369.2642
218424  11740   91963.2288  138367.2287  168386.1996  61667.2609  61189.6449

In [31]:
# guCode.csv를 읽어서 자치구코드를 구명으로 변환
gu_code = pd.read_csv('data\\guCode.csv', encoding='utf-8')

# 코드를 키로 하는 딕셔너리 생성
gu_code_dict = dict(zip(gu_code['코드'], gu_code['구명']))

# 자치구코드를 구명으로 변환
pop_data['자치구'] = pop_data['자치구코드'].map(gu_code_dict)

# 자치구코드 컬럼 제거
pop_data = pop_data[['자치구', '미성년자', '청년', '중년', '장년', '고령']]

pop_data

         자치구         미성년자           청년           중년          장년          고령
218400   종로구   24499.4588   65108.7982   61420.7993  21453.8992  21811.2349
218401    중구   16386.7587   51841.8718   46039.7337  15545.1731  15765.7338
218402   용산구   30742.7752   88888.1896   77146.8149  24393.3351  24278.1930
218403   성동구   42061.8726  102295.4631   96672.9046  32158.8702  30097.5075
218404   광진구   51548.7808  126643.8516  106605.5792  36398.9703  33265.2489
218405  동대문구   44421.0513  111386.4934   97925.4313  35500.8154  37825.6406
218406   중랑구   51426.5218  107166.0334  118424.2559  46987.5924  45019.5565
218407   성북구   71296.1019  122900.8413  132513.6983  44445.3656  48849.9348
218408   강북구   40970.7729   81892.1245   94444.1723  37432.8430  42198.7848
218409   도봉구   41886.3651   70157.0308   87784.7270  37884.2550  38707.5669
218410   노원구   88477.8026  131881.8676  162493.2350  59966.5887  61826.7828
218411   은평구   70010.5111  129387.2930  148671.0892  53040.4684  55163.7591
218412  서대문구   45677.6729  111334.6629  100606.5180  33839.1194  36534.4703
218413   마포구   55619.4760  157918.7490  122377.4531  34002.2425  35247.0473
218414   양천구   77892.4988   91924.9818  126002.8795  40784.6584  41323.2842
218415   강서구   84668.0649  167841.6894  161019.8337  56460.5564  59563.3851
218416   구로구   57842.3494  111099.0254  124615.0377  44825.7661  42873.8423
218417   금천구   22559.3217   64430.4487   63456.4910  23292.8748  20076.0464
218418  영등포구   52256.7546  136152.9254  129329.1838  42948.9170  39104.9187
218419   동작구   54998.4275  123958.1895  111806.0803  38965.1410  41379.6427
218420   관악구   51561.6251  192867.9243  132036.3852  45023.8906  47777.5334
218421   서초구   88290.0229  120820.5783  149574.4042  39522.5519  42110.7347
218422   강남구  125622.6707  183552.5730  212355.5107  52290.4640  56586.0925
218423   송파구  128675.7894  203669.4184  226762.9310  75342.6706  70369.2642
218424   강동구   91963.2288  138367.2287  168386.1996  61667.2609  61189.6449

In [39]:
pop_data.to_csv('./filtered_data/group_population_byGu.csv', index=False, encoding='utf-8')

In [41]:
# 나이대별 비율 계산
# 각 구의 전체 인구 합계
pop_data['전체인구'] = pop_data[['미성년자', '청년', '중년', '장년', '고령']].sum(axis=1)

# 나이대별 비율 계산 (%)
pop_ratio = pop_data[['자치구']].copy()
pop_ratio['미성년자_비율'] = (pop_data['미성년자'] / pop_data['전체인구'] * 100).round(2)
pop_ratio['청년_비율'] = (pop_data['청년'] / pop_data['전체인구'] * 100).round(2)
pop_ratio['중년_비율'] = (pop_data['중년'] / pop_data['전체인구'] * 100).round(2)
pop_ratio['장년_비율'] = (pop_data['장년'] / pop_data['전체인구'] * 100).round(2)
pop_ratio['고령_비율'] = (pop_data['고령'] / pop_data['전체인구'] * 100).round(2)

pop_ratio.reset_index(drop=True, inplace=True)

In [42]:
pop_ratio.head()

   자치구  미성년자_비율  청년_비율  중년_비율  장년_비율  고령_비율
0  종로구    12.61  33.51  31.61  11.04  11.23
1   중구    11.26  35.61  31.63  10.68  10.83
2  용산구    12.53  36.21  31.43   9.94   9.89
3  성동구    13.87  33.73  31.88  10.60   9.92
4  광진구    14.54  35.73  30.08  10.27   9.38

In [43]:
pop_ratio.to_csv('./filtered_data/group_population_ratio_byGu.csv', index=False, encoding='utf-8')